body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.well {
     min-height:20px;
     padding:19px;
     margin-bottom:20px;
     background-color:#f5f5f5;
     border:1px solid #e3e3e3;
     border-radius:3px;
     -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
     box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
 }
.well blockquote {
    border-color:#ddd;
    border-color:rgba(0,0,0,.15)
}
.well-lg {
    padding:24px;
    border-radius:5px
}
.well-sm {
    padding:9px;
    border-radius:2px
}
#buttons input[data-toggle]:checked + label,
#buttons input[data-toggle]:checked + label:active {
    background-color: #0044CC;
    color: #FFFFFF;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}

/* Button groups */

.btn-group > .btn:first-of-type {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

/*----------------------------------------*/
/* 11. Product Page CSS
/*----------------------------------------*/
.product-thumbnail {
    margin-top: 15px;
}
.product-thumbnail img {
    width: 100%;
}
.thumb-menu.nav a {
    width: 25%;
    border: 1px solid transparent;
}

.thumb-menu.nav a.active {
    border: 1px solid #ddd;
}

.main-product-thumbnail .tab-content img,
.product-thumbnail .thumb-menu div img {
    width: 100%;
    border: 1px solid #ebebeb;
}

.fancybox-thumbs > ul > li {
    height: 120px;
}

.product-thumbnail {
    margin-top: 15px;
}

.product-header {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.img{
    width: 100%;
}
