
@import "~admin-lte/plugins/select2/css/select2.min.css";
.select2-selection__choice{
    background-color: #007bff !important;
}
.select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}